/* Fix for Leaflet map */
.leaflet-container {
  font-family: inherit;
}

.custom-marker {
  background: transparent;
  border: none;
}

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.75rem;
}